* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.tabs {
  background-color: greenyellow;
  height: 50px;
  border-bottom: 5px;
  border-color: gray;
  border-style: solid;
  align-content: center;
}

.tabs button{
  background-color: greenyellow;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 0 5px;
  padding: 0 5px 0 0;
  height: 45px;
  text-decoration: underline;

  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 2px;
  border-radius: 2px;
  border-style:dashed;
  border-color: white;
}

#captura {
text-align: center;
}

#captura form{
  display: inline-block;

}

#captura div{
display: flex;
width: 100%;
margin: 7% 0;
}

#captura div p{
  padding: 0 5px;
  text-decoration: underline;
  font-family: sans-serif;
  color: rgb(60, 60, 60);
}

#captura div input{
  border-radius: 6%;
  border-style: none;
  background-color: gainsboro;
}

#captura button{
  background-color: white;
  color: green;
  border-color: green;
  padding: 3px;
  border-radius: 5%;
}

